:root {
    --uofsc-garnet: #73000a;
    --uofsc-black: #000000;
}

.header-bar {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 3.85rem;
    z-index: 999991;
    display: flex;
    align-items: center;
    pointer-events: none;
    background: transparent;
    border-bottom: 1px solid var(--uofsc-garnet);
}

.header-link {
    pointer-events: auto;
    padding-left: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--uofsc-garnet) !important;
    text-decoration: none !important;
    transition: opacity 0.2s ease;
}

.header-link:hover {
    opacity: 0.8;
    color: var(--uofsc-black) !important;
}

/* st.title */
.block-container h1 {
    text-align: center;
    margin-top: -1rem !important;
    margin-bottom: 1.5rem !important;
    font-weight: 700;
    font-size: 2.2rem;
}

.page-subtitle {
    text-align: center;
    margin-top: -1.7rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    opacity: 0.8;
}

.paper-card {
    border-top: 4px solid var(--uofsc-garnet);
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.paper-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    color: var(--uofsc-black);
}

.paper-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.paper-metadata a {
    color: var(--uofsc-garnet);
    text-decoration: none;
    font-weight: 600;
}

/* Reduce the padding of the expansion button. */
div[data-testid="stExpander"] summary {
    padding: 0.3rem 1rem !important;
}

.paper-authors {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.paper-abstract {
    font-size: 0.95rem;
    text-align: justify;
}

.results-count {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--uofsc-garnet);
}

.stButton>button {
    background-color: var(--uofsc-garnet) !important;
    color: white !important;
    border: none !important;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.stButton>button:hover {
    background-color: #5a0008 !important;
    border: none !important;
}

/*  without [data-baseweb="input"] the focus state is not applied in this field*/
.stTextInput [data-baseweb="input"]:focus-within,
.stTextInput>div>div:focus-within,
.stSelectbox>div>div:focus-within,
.stDateInput>div>div:focus-within,
.stMultilineTextInput>div>div:focus-within,
.stNumberInput>div>div:focus-within {
    border-color: var(--uofsc-garnet) !important;
}

/* Centralize container's columns */
div[data-testid="stHorizontalBlock"] {
    width: 100%;
    margin: 0 auto;
}

/* Errors/Tracebacks */
div[data-testid="stAlertContentError"],
div[data-testid="stAlertContentError"] * {
    color: #000000;
}